.checkout {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: white;
    height: max-content;
    justify-content: space-between;
}

.checkout__title {
    margin-right: 20px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}