.header {
    background-color: #131a22;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    margin: 0 15px;
    object-fit: contain;
}

.header__menubutton {
    display: none;
    background: none;
    border: 1px solid gray;
    border-radius: 3px;
    color: #fff;
    font-size: 30px;
    font-weight: 50;
    margin: 5px 0 5px 10px;
    line-height: 35px;
}

.header__menubutton:hover {
    border-color: lightgray;
    cursor: pointer;
}

.header__search {
    display: flex;
    flex: 1;
    position: relative;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    padding-right: 44px;
    border: none;
    width: 100%;
}

.header__searchInput:focus {
    outline-color: orangered;
}

.header__searchIcon {
    position: absolute;
    top: 0;
    right: 15px;
    background-color: #cd9042;
    padding: 5px;
    margin-left: -34px;
    height: 22px !important;
}

.header__searchIcon:hover {
    background-color: #bd863d;
    cursor: pointer;
}

.header__searchButton {
    height: 0;
    width: 0;
    background-color: transparent;
    border-color: transparent;
}

.header__searchButton:focus {
    outline: none;
    border: none;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__optionBasket {
    display: flex;
    align-items: center;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__dropdown {
    position: relative;
    color: white;
}

.header__dropdown-content {
    position: absolute;
    list-style-type: none;
    display: none;
    right: -9px;
    padding: 10px;
    margin: 0;
    z-index: 1;
    background: #131a22;
    border-radius: 3px;
}

.header__dropdown-content li {
    padding: 5px 0;
}

.header__dropdown:hover .header__dropdown-content {
    display: block;
}

.header__dropdown-link {
    text-decoration: none;
    color: white;
}

@media (max-width: 600px) {
    .header__logoLink {
        display: none;
    }

    .header__menubutton {
        display: none;
    }
}